

.header {
    position:relative;
    text-align:center;
    background: linear-gradient(60deg, rgb(220, 194, 194) 0%, rgb(255, 255, 255) 100%);
    color:white;
  }
  
  body{
    overflow-x: hidden;
  }
  
  
  .waves {
    position:relative;
    width: 100%;
    height:15vh;
    margin-bottom:-7px; /*Fix for safari gap*/
    min-height:100px;
    max-height:150px;
  }
  

 

 .MainSecFont{
  color:white !important;
  font-size:600% !important;
 }

.headingTextTop{
  margin-right:0px;
  font-size:150%;
  font-family: "'Ubuntu Mono', monospace";
  color: white !important;
}

 @media (max-width: 768px) {
  .MainSecFont{
    color:white !important;
    font-size:300% !important;

   }
   .headingTextTop{
    margin-right:0px !important;
    font-size:100% !important;
    font-family:"'Ubuntu Mono', monospace";
    color: white !important;
  }
  .headingText{
    width: -webkit-fill-available;
    font-family: poppins;
  }
}

@media (min-width: 760px) {
.downpara{
        padding-left: 20%;
  }
 
}



/* heading*/


@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
x-sign {
  --interval: 1s;
  display: block;
  text-shadow: 
    0 0 10px var(--color1),
    0 0 20px var(--color2),
    0 0 40px var(--color3),
    0 0 80px var(--color4);
  will-change: filter, color;
  filter: saturate(60%);
  animation: flicker steps(100) var(--interval) 1s infinite;
  font-size: calc(3em + 3vmax);
  line-height: 2.1;
  
}
@media (max-width: 760px) {
  x-sign{
    font-size: calc(2em + 3vmax);
    }
   
  }


x-sign:nth-of-type(1) {
  color: yellow;
  --color1: yellow;
  --color2: lime;
  --color3: green;
  --color4: darkgreen;
  font-family: 'Monoton', cursive;
}



@keyframes flicker {
  50% {
    color: white;
    filter: saturate(200%) hue-rotate(20deg);
  }
}

/* 
main buttons */

.imgabout{
  width:450px ;
  height: 300px;
  display: flex;
  border: black 8px solid;
  border-radius: 25px;
}
@media only screen and (max-width: 600px) {
  .imgabout{
    width:330px ;
    height: 240px;
  
  }
  
}
.paddingofaboutimage{
  
  padding-top: 15vh;
}
@media only screen and (max-width: 1000px) {
  .paddingofaboutimage{
    padding-bottom: 10%;
    display: flex;
    justify-content: center;
    padding-top: 0;
  }
}
.quote{
  text-align: center;
}
.down{
padding-top: 15vh;
}