.blogpagemob{
    background-color: #2a2728;
    color: aliceblue;
   
}

.compsection{
      padding-top: 10%;
      padding-left: 10%;
      padding-right: 10%;
}
.title{
    font-size: 2.5em;
    text-align: center;
}
@media only screen and (max-width: 600px) {
    .compsection{
        padding:0;
        padding-top: 20%;
  }
  .posts-nav{
    padding-left: 0% !important;
}
  }

  .comp-sec-det{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom:3.5em ;
}
.poster-style{
    height: 35rem;
    width: 35rem;
}
@media (max-width: 900px) {
    .comp-sec-det{
        flex-direction: column;
        padding-bottom:0 ;
  }
  .poster-style{
     
      padding-bottom: 2em;
  }
}
@media (max-width: 768px) {
   
  .poster-style{
      height: 18rem;
      width: 20rem;
     
  }
  .content{
      padding: 0 0.4em;
      margin: 2em 0;
  }
}
@media (max-width: 290px) {
   
  .poster-style{
      height: 15rem;
      width: 15rem;
     
  }
  .content{
      padding: 0 0.3em;
      font-size: 1em;
  }
}
.content ul li{
    list-style-type:none;
}
.compet-name{
    font-weight: 600;
    
    
}
.posts-nav{
    padding-left:40%;
}


/* From cssbuttons.io by @alexmaracinaru */
/* From cssbuttons.io */


.cta {
    position: relative;
    border: none;
    background: transparent;
    padding:0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
    user-select: none;
    touch-action: manipulation;
    margin-top: 0.2em ;
    
    
   }
   
   .shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsl(0deg 0% 0% / 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition: transform
       600ms
       cubic-bezier(.3, .7, .4, 1);
   }
   
   .edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient(
       to left,
       hsl(340deg 100% 16%) 0%,
       hsl(340deg 100% 32%) 8%,
       hsl(340deg 100% 32%) 92%,
       hsl(340deg 100% 16%) 100%
     );
   }
   
   .front {
    display: block;
    position: relative;
    padding: 6px 12px;
    border-radius: 12px;
    font-size: 0.9rem;
    color: white;
    background: hsl(345deg 100% 47%);
    will-change: transform;
    transform: translateY(-4px);
    transition: transform
       600ms
       cubic-bezier(.3, .7, .4, 1);
   }
   
   .cta:hover {
    filter: brightness(110%);
   }
   
   .cta:hover .front {
    transform: translateY(-6px);
    transition: transform
       250ms
       cubic-bezier(.3, .7, .4, 1.5);
   }
   
   .cta:active .front {
    transform: translateY(-2px);
    transition: transform 34ms;
   }
   
   .cta:hover .shadow {
    transform: translateY(4px);
    transition: transform
       250ms
       cubic-bezier(.3, .7, .4, 1.5);
   }
   
   .cta:active .shadow {
    transform: translateY(1px);
    transition: transform 34ms;
   }
   
   .cta:focus:not(:focus-visible) {
    outline: none;
   }
.cta2 {
    position: relative;
    border: none;
    background: transparent;
    padding:0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
    user-select: none;
    touch-action: manipulation;
    margin-top: 0.2em ;
    
    
   }
   
   .shadow2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: rgba(0, 0, 0, 0);
    will-change: transform;
    transform: translateY(2px);
    transition: transform
       600ms
       cubic-bezier(.3, .7, .4, 1);
   }
   
 
   .front2 {
    display: block;
    position: relative;
    padding: 6px 12px;
    border-radius: 12px;
    font-size: 0.9rem;
    color: white;
    background: rgba(240, 0, 60, 0.425);
    will-change: transform;
    transform: translateY(-4px);
    transition: transform
       600ms
       cubic-bezier(.3, .7, .4, 1);
   }
 
   
  
 
   
   
   
   
  
   .card-body{
      
display: flex;
justify-content: space-between;

   }