


/*****************
    - Header -
*****************/
header {
	position:relative;
	left:0;
	top:0;
	width:100%;
	min-height:120px;
	padding:50px 0;
	color:#fff;
	background: #383838 url(https://www.athenadesignstudio.com/plugins/switch/images/bg.jpg) no-repeat center center;
	margin-bottom:30px
}

/* Logo */
header .logo {
	clear:both;
    display:block;
	text-align:center;
    padding-bottom:10px;
}

/* Title */
header h1 {
    font-weight:300;
    font-size:24px;
    color:#eee;	
	letter-spacing:2px;
	text-align:center;
	text-transform:uppercase;
	margin:0 !important;
	padding-bottom:25px;
}

@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@800&display=swap');
h1,
h2,
h3,
h4,
h5,
h6,
div,
input,
p,
a {
    font-family: 'Nanum Gothic', sans-serif;
    margin: 0px;
}

a,
a:hover,
a:focus {
    color: inherit;
}


.container-fluid,
.container {
    max-width: 1200px;
}

.card-container {
    padding: 100px 0px;
    -webkit-perspective: 1000;
    perspective: 1000;
}



.profile-card-4 {
    max-width: 300px;
    background-color: #FFF;
    border-radius: 5px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
    margin: 10px auto;
    cursor: pointer;
}

.profile-card-4 img {
    transition: all 0.35s linear;
    background-color: rgb(246, 250, 3);
}

.profile-card-4 .profile-content {
    position: relative;
    padding: 15px;
    background-color: rgb(255, 255, 255);
}

.profile-card-4 .profile-name {
    font-weight: bold;    
    color: #000;
    font-size: 2em;
    padding-bottom: 0.5em;
    padding-top: 1.2rem;
}

.profile-card-4 .profile-name p {
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 1.5px;
}

.profile-card-4 .profile-description {
    color: rgb(39, 38, 38);
    font-size: 0.9em;
    /* padding: 1em;
    padding-bottom: 2em; */
    height: 10vh;
}

.regatta {
  padding-right: 0%;
  padding-left: 15%;

}

.tinkerit{
  padding-left: 0%;
  padding-right: 15%;

}


@media only screen and (max-width: 1000px) {
  .tinkerit {
    padding-left: 0;
    padding-right: 0;

  }
  .regatta {
    padding-left: 0;
    padding-right: 0;

  }
}
.profile-card-background1{
  background-color: rgb(13 16 89);
}
.profile-card-background2{
  background-color: rgb(0 0 0);
}
.profile-card-background3{
  background-color: rgb(49 11 122);
}
.profile-card-background4{
  background-color: rgb(21 47 51);
}
.profile-card-background5{
  background-color: rgb(235 104 253);
}
.profile-card-background6{
  background-color: rgb(0 26 84);
}
.profile-card-background7{
  background-color: rgb(71 70 71);
}
.profile-card-background8{
  background-color: rgb(0 0 0);
}
.profile-card-background9{
  background-color: rgb(24 50 153);
}
.profile-card-background10{
  background-color: rgb(199 181 169);
}
.profile-card-background11{
  background-color: rgb(22 24 39);
}

.profile-card-4 .profile-overview {
    padding: 15px 0px;
}

.profile-card-4 .profile-overview p {
    font-size: 10px;
    font-weight: 600;
    color: #191919;
}

.profile-card-4 .profile-overview h4 {
    color: #273751;
    font-weight: bold;
}

.event1 .profile-content::before {
    content: "";
    position: absolute;
    height: 25px;
    top: -15px;
    left: 0px;
    right: 0px;
    background: linear-gradient(to bottom, #0d1059 0%, rgb(236, 238, 241) 100%);
    z-index: 0;
    transform: skewY(0deg);
}
.event2 .profile-content::before {
  content: "";
  position: absolute;
  height: 25px;
  top: -15px;
  left: 0px;
  right: 0px;
  background: linear-gradient(to bottom, #000000 0%, rgb(236, 238, 241) 100%);
  z-index: 0;
  transform: skewY(0deg);
}
.event3 .profile-content::before {
  content: "";
  position: absolute;
  height: 25px;
  top: -15px;
  left: 0px;
  right: 0px;
  background: linear-gradient(to bottom, #310b7a 0%, rgb(236, 238, 241) 100%);
  z-index: 0;
  transform: skewY(0deg);
}
.event4 .profile-content::before {
  content: "";
  position: absolute;
  height: 25px;
  top: -15px;
  left: 0px;
  right: 0px;
  background: linear-gradient(to bottom, rgb(21 47 51) 0%, rgb(236, 238, 241) 100%);
  z-index: 0;
  transform: skewY(0deg);
}
.event5 .profile-content::before {
  content: "";
  position: absolute;
  height: 25px;
  top: -15px;
  left: 0px;
  right: 0px;
  background: linear-gradient(to bottom, #939598 0%, rgb(236, 238, 241) 100%);
  z-index: 0;
  transform: skewY(0deg);
}
.event6 .profile-content::before {
  content: "";
  position: absolute;
  height: 25px;
  top: -15px;
  left: 0px;
  right: 0px;
  background: linear-gradient(to bottom, #001a54 0%, rgb(236, 238, 241) 100%);
  z-index: 0;
  transform: skewY(0deg);
}
.event7 .profile-content::before {
  content: "";
  position: absolute;
  height: 25px;
  top: -15px;
  left: 0px;
  right: 0px;
  background: linear-gradient(to bottom, #474647 0%, rgb(236, 238, 241) 100%);
  z-index: 0;
  transform: skewY(0deg);
}
.event8 .profile-content::before {
  content: "";
  position: absolute;
  height: 25px;
  top: -15px;
  left: 0px;
  right: 0px;
  background: linear-gradient(to bottom, #000000 0%, rgb(236, 238, 241) 100%);
  z-index: 0;
  transform: skewY(0deg);
}
.fun-event1 .profile-content::before {
  content: "";
  position: absolute;
  height: 25px;
  top: -15px;
  left: 0px;
  right: 0px;
  background: linear-gradient(to bottom, #0e2a72 0%, rgb(236, 238, 241) 100%);
  z-index: 0;
  transform: skewY(0deg);
}
.fun-event2 .profile-content::before {
  content: "";
  position: absolute;
  height: 25px;
  top: -15px;
  left: 0px;
  right: 0px;
  background: linear-gradient(to bottom, #c7b4a8 0%, rgb(236, 238, 241) 100%);
  z-index: 0;
  transform: skewY(0deg);
}
.fun-event3 .profile-content::before {
  content: "";
  position: absolute;
  height: 25px;
  top: -15px;
  left: 0px;
  right: 0px;
  background: linear-gradient(to bottom, #1f2130 0%, rgb(236, 238, 241) 100%);
  z-index: 0;
  transform: skewY(0deg);
}

.profile-card-4:hover img {
    background: #050a8d;
    transform: rotate(3deg) scale(0.9, 0.9);
    filter: brightness(110%);
}

.disabledCursor { 
  cursor: default;
}

/* buttons */
.bn5 {
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    margin:3% 3%;

  }
  .bn5:hover{
      color: #fff;
  }
  .bn5:before {
    content: "";
    background: linear-gradient(
      45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowingbn5 20s linear infinite;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
  }
  
  @keyframes glowingbn5 {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  
  .bn5:active {
    color: rgb(255, 255, 255);
  }
  
  .bn5:active:after {
    background: transparent;
  }
  
  .bn5:hover:before {
    opacity: 1;
  }
  
  .bn5:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fffafa;
    left: 0;
    top: 0;
    border-radius: 10px;
  }

  
.bn6 {
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: rgba(17, 17, 17, 0.918);
    cursor: default;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    margin:3% 3%;

  }
  .bn6:hover{
      color: #fff;
  }
  /* .bn6:before {
    content: "";
    background: linear-gradient(
      45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowingbn5 20s linear infinite;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
  } */
  
  /* @keyframes glowingbn5 {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
   */
  /* .bn6:active {
    color: rgb(255, 255, 255);
  }
   */
  /* .bn6:active:after {
    background: transparent;
  } */
  
  /* .bn6:hover:before {
    opacity: 1;
  } */
  
  .bn6:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fffafa;
    left: 0;
    top: 0;
    border-radius: 10px;
  }

  .tag12 {
    background: #cccccc;
    border-radius: 50px;
    font-size: 12px;
    
    color: #fff;
    padding: 4px 10px;
    cursor: pointer;
    background-color: #1a3c67;
    margin-left: 0% !important;
    top: 30%;
    position: relative;
    
  }
  .hate{
    margin-top: 0.5em;
  }