@import url(https://fonts.googleapis.com/css?family=Roboto);
/*Just the background stuff*/




/*My hum... body.. yeah..*/
.hackathon {
    padding-top: 100px;
    background-image:linear-gradient(#000203 0%, #00345e 85%, #004d89 100%),
  }
/* The card */
.card {
  position: relative;
  height: fit-content;
  width: fit-content;
  margin: 100px auto;
  background-color: #eceef1;
  border-radius: 10px;
  -webkit-box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
}

/* Image on the left side */
.thumbnail1 {
  float: left;
  position: relative;
  left: 30px;
  top: -30px;
  height: 450px;
  width: 650px;
  -webkit-box-shadow: 10px 10px 60px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 60px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 60px 0px rgba(0, 0, 0, 0.75);
  overflow: hidden;
}

/*object-fit: cover;*/
/*object-position: center;*/
.left {
  position: absolute;
  border: #d3e4e3 4px solid;
  border-radius: 10px;
  left: 50%;
  top: 50%;
  height: 450px;
  width: 650px;
  display: block;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* Right side of the card */
.right {
  display: flexbox;
  margin-top: 15%;
  margin-left: 80px;
  margin-right: 20px;
  row-gap: 50px;
}
.hack-head {
  padding: 5% 0;
  font-size: 2.3rem;
  color: #f58b56;
}



.separator {
  margin-top: 10px;
  border: 1px solid #c3c3c3;
}

.hack-content {
  text-align: left;
  padding-top: 10px;
  font-size: 1rem;
  width: 400px;
  line-height: 150%;
  color: #4b4b4b;
}



/* DATE of release*/
.date1 {
  // position: absolute;
  // left: 30px;
  // bottom: -400px;
  font-size: 4rem;
  color: #00345e;
}

.to {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.month1 {
  // position: absolute;
  // left: 30px;
  // bottom: -405px;
  font-size: 2rem;
  color: #00345e;
}



.card {
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: fit-content;
}
// /* Those futur buttons */
// ul {
//   margin-left: 250px;
// }

// li {
//   display: inline;
//   list-style: none;
//   padding-right: 40px;
//   color: #7b7b7b;
// }

/* Floating action button */
// .fab {
//   position: absolute;
//   right: 50px;
//   bottom: -40px;
//   box-sizing: border-box;
//   padding-top: 18px;
//   background-color: #1875d0;
//   width: 80px;
//   height: 80px;
//   color: white;
//   text-align: center;
//   border-radius: 50%;
//   -webkit-box-shadow: 10px 10px 50px 0px rgba(0, 0, 0, 0.75);
//   -moz-box-shadow: 10px 10px 50px 0px rgba(0, 0, 0, 0.75);
//   box-shadow: 10px 10px 50px 0px rgba(0, 0, 0, 0.75);
// }
.main-time {
  padding-top: 10%;
}

.ticks-list {
    margin: 10% 0;
    font-weight: bold;

}


// responsive


@media only screen and (max-width: 1278px) {
  .card{
    display: flex;
    flex-direction: column;
    width: 90vw;
  }
  .left {
    width: 80vw;
    height: 40vh;
  }
  .thumbnail1 {
    width: 80vw;
    height: 40vh;
  }
  .img-time {
    display: flex;
    flex-direction: column;
  }
  .buttons-ml {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .date1 {
    // position: absolute;
    // left: 30px;
    // bottom: -400px;
    font-size: 2rem;
    color: #00345e;
  }
  
  .to {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  
  .month1 {
    // position: absolute;
    // left: 30px;
    // bottom: -405px;
    font-size: 1rem;
    color: #00345e;
  }
  .right {
    margin-right: 0%;
    margin-left: 0;
    width: 80vw;
  }
  .hack-content {
    text-align: left;
    padding-top: 10px;
    font-size: 1rem;
    width: 80vw;
    line-height: 150%;
    color: #4b4b4b;
}
}

@media only screen and (max-width: 500px) {
  .card{
    display: flex;
    flex-direction: column;
    width: 90vw;
  }
  .left {
    width: 83vw;
    height: 30vh;
  }
  .thumbnail1 {
    position: relative;
    left: 0px;
    width: 83vw;
    height: 30vh;

  }
  .img-time {
    display: flex;
    flex-direction: column;
  }
  .hack-content-main {
    margin-left: 0px ;
  }
  .right {
    margin-right: 0%;
  }
  .hack-content {
    text-align: left;
    padding-top: 10px;
    padding-left: 5px;
    font-size: 1rem;
    width: 80vw;
    line-height: 150%;
    color: #4b4b4b;
  }
  .buttons-ml {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}