@import url(https://fonts.googleapis.com/css?family=Open+sans);
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display);
@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap);
.snip1515 {
  font-family: 'Open Sans', Arial, sans-serif;
  position: relative;
  margin: 10px;
  min-width: 230px;
  max-width: 315px;
  width: 100%;
  color: #000000;
  text-align: center;
  line-height: 1.4em;
  font-size: 14px;
  box-shadow: none !important;
}

.snip1515 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius:5%;
}

.snip1515 .profile-image {
  display: inline-block;
  width: 80%;
  z-index: 1;
  position: relative;
  padding: 10px;
  border: 5px solid #f58b56;
}

.snip1515 .profile-image img {
  max-width: 100%;
  vertical-align: top;
}

.snip1515 figcaption {
  width: 100%;
  background-image: linear-gradient(#000203 0%, #00345e 85%, #004d89 100%);
  color: #555;
  padding: 125px 25px 15px 25px;
  margin-top: -100px;
  display: inline-block;
}
.snip1515 figcaption.ei{
  width: 100%;
  background-image: linear-gradient(#000203 0%, #00345e 85%, #004d89 100%);
  color: #555;
  padding: 125px 10px 15px 10px;
  margin-top: -100px;
  display: inline-block;
}

.snip1515 h3,
.snip1515 p {
  margin: 0 0 5px;
}
.snip1515 h4 {
  margin: 0 0 5px;
  font-family:'Roboto', sans-serif;
}

.snip1515 h3 {
  font-weight: 600;
  font-size: 1.3em;
  font-family: 'Montserrat', Arial, sans-serif;
}

.snip1515 h4 {
  color: #8c8c8c;
  font-weight: 400;
  letter-spacing: 2px;
}

.snip1515 p {
  font-size: 0.9em;
  letter-spacing: 1px;
  opacity: 0.9;
}

.snip1515 .icons {
  text-align: center;
  width: 100%;
}

.snip1515 i {
  padding: 10px 20px;
  display: inline-block;
  font-size: 25px;
  font-weight: normal;
  color: #e8b563;
  opacity: 0.75;
}

.snip1515 i:hover {
  opacity: 1;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.tech-para{
    color: #fff;
}
.tech-h3{
	color: #9c9ca0;
}


.raise:hover,
.raise:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}
.raise {
  --color: #ffeb60;
  --hover: #ffa260;
}

.raise {
  color: var(--color);
  transition: 0.25s;
}
.raise:hover, .raise:focus {
  border-color: var(--hover);
  color: #ffa260;
}

.raise {
  background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: 0em;
  padding: 1em 2em;
}

h1 {
  font-weight: 400;
}

code {
  color: #e4cb58;
  font: inherit;
}
@media (min-width:900px){
  .down-images{
    padding-top: 5%;
  }

}