
.background {
	background-image: linear-gradient(#000203 0%, #00345e 85%, #004d89 100%);
	width:100%;
	height: 100vh;
}
.illustration {
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	top: 15%;
	left:25%;
}

@media only screen and (max-width: 600px) {
	.illustration {
		left:0%;
		top: 20%;
		
	}
  }
.hover {
	width: 100%;
	height: 100%;
	animation: hover 5s ease-in-out infinite;
	animation-fill-mode: forwards;
}
.number-one {
	transform: translateY(-10px) translateZ(0);
	opacity: 0;
	animation: fadeNumberDown-10 3592ms ease-in-out infinite;
	animation-fill-mode: forwards;
}
.number-two {
	transform: translateY(-20px) translateZ(0);
	opacity: 0;
	animation: fadeNumberDown-20 2640ms ease-in-out infinite;
	animation-delay: 2318ms;
	animation-fill-mode: forwards;
}
.number-three {
	transform: translateY(-30px) translateZ(0);
	opacity: 0;
	animation: fadeNumberDown-30 5691ms ease-in-out infinite;
	animation-delay: 4777ms;
	animation-fill-mode: forwards;
}
.number-four {
	transform: translateY(-50px) translateZ(0);
	opacity: 0;
	animation: fadeNumberDown-50 2084ms ease-in-out infinite;
	animation-delay: 384ms;
	animation-fill-mode: forwards;
}
.number-five {
	transform: translateY(-60px) translateZ(0);
	opacity: 0;
	animation: fadeNumberDown-60 5564ms ease-in-out infinite;
	animation-delay: 5128ms;
	animation-fill-mode: forwards;
}
.number-six {
	transform: translateY(-70px) translateZ(0);
	opacity: 0;
	animation: fadeNumberDown-70 4882ms ease-in-out infinite;
	animation-delay: 3494ms;
	animation-fill-mode: forwards;
}
.number-seven {
	transform: translateY(-80px) translateZ(0);
	opacity: 0;
	animation: fadeNumberDown-80 2352ms ease-in-out infinite;
	animation-delay: 3921ms;
	animation-fill-mode: forwards;
}
.number-eight {
	transform: translateY(-90px) translateZ(0);
	opacity: 0;
	animation: fadeNumberDown-90 3214ms ease-in-out infinite;
	animation-delay: 3746ms;
	animation-fill-mode: forwards;
}
.number-nine {
	transform: translateY(-100px) translateZ(0);
	opacity: 0;
	animation: fadeNumberDown-100 4487ms ease-in-out infinite;
	animation-delay: 5863ms;
	animation-fill-mode: forwards;
}
.number-ten {
	transform: translateY(-110px) translateZ(0);
	opacity: 0;
	animation: fadeNumberDown-110 5295ms ease-in-out infinite;
	animation-delay: 4836ms;
	animation-fill-mode: forwards;
}
.number-eleven {
	transform: translateY(-120px) translateZ(0);
	opacity: 0;
	animation: fadeNumberDown-120 5958ms ease-in-out infinite;
	animation-delay: 5273ms;
	animation-fill-mode: forwards;
}
.number-twelve {
	transform: translateY(-150px) translateZ(0);
	opacity: 0;
	animation: fadeNumberDown-150 4172ms ease-in-out infinite;
	animation-delay: 1459ms;
	animation-fill-mode: forwards;
}
.number-thirteen {
	transform: translateY(-160px) translateZ(0);
	opacity: 0;
	animation: fadeNumberDown-160 2293ms ease-in-out infinite;
	animation-delay: 2320ms;
	animation-fill-mode: forwards;
}
@keyframes hover {
	0% {
		transform: translateY(0);
   }
	25% {
		transform: translateY(-3px);
   }
	75% {
		transform: translateY(3px);
   }
	100% {
		transform: translateY(0);
   }
}
@keyframes fadeNumberDown-10 {
	0% {
		transform: translateY(-10px) translateZ(0);
		opacity: 0;
   }
	40% {
		opacity: 0.4;
   }
	60% {
		opacity: 0.4;
   }
	100% {
		transform: translateY(140px) translateZ(0);
		opacity: 0;
   }
}
@keyframes fadeNumberDown-20 {
	0% {
		transform: translateY(-20px) translateZ(0);
		opacity: 0;
   }
	40% {
		opacity: 0.4;
   }
	60% {
		opacity: 0.4;
   }
	100% {
		transform: translateY(140px) translateZ(0);
		opacity: 0;
   }
}
@keyframes fadeNumberDown-30 {
	0% {
		transform: translateY(-30px) translateZ(0);
		opacity: 0;
   }
	40% {
		opacity: 0.4;
   }
	60% {
		opacity: 0.4;
   }
	100% {
		transform: translateY(130px) translateZ(0);
		opacity: 0;
   }
}
@keyframes fadeNumberDown-50 {
	0% {
		transform: translateY(-50px) translateZ(0);
		opacity: 0;
   }
	40% {
		opacity: 0.4;
   }
	60% {
		opacity: 0.4;
   }
	100% {
		transform: translateY(110px) translateZ(0);
		opacity: 0;
   }
}
@keyframes fadeNumberDown-60 {
	0% {
		transform: translateY(-60px) translateZ(0);
		opacity: 0;
   }
	40% {
		opacity: 0.4;
   }
	60% {
		opacity: 0.4;
   }
	100% {
		transform: translateY(90px) translateZ(0);
		opacity: 0;
   }
}
@keyframes fadeNumberDown-70 {
	0% {
		transform: translateY(-70px) translateZ(0);
		opacity: 0;
   }
	40% {
		opacity: 0.4;
   }
	60% {
		opacity: 0.4;
   }
	100% {
		transform: translateY(80px) translateZ(0);
		opacity: 0;
   }
}
@keyframes fadeNumberDown-80 {
	0% {
		transform: translateY(-80px) translateZ(0);
		opacity: 0;
   }
	40% {
		opacity: 0.4;
   }
	60% {
		opacity: 0.4;
   }
	100% {
		transform: translateY(80px) translateZ(0);
		opacity: 0;
   }
}
@keyframes fadeNumberDown-90 {
	0% {
		transform: translateY(-90px) translateZ(0);
		opacity: 0;
   }
	40% {
		opacity: 0.4;
   }
	60% {
		opacity: 0.4;
   }
	100% {
		transform: translateY(60px) translateZ(0);
		opacity: 0;
   }
}
@keyframes fadeNumberDown-100 {
	0% {
		transform: translateY(-100px) translateZ(0);
		opacity: 0;
   }
	40% {
		opacity: 0.4;
   }
	60% {
		opacity: 0.4;
   }
	100% {
		transform: translateY(60px) translateZ(0);
		opacity: 0;
   }
}
@keyframes fadeNumberDown-110 {
	0% {
		transform: translateY(-110px) translateZ(0);
		opacity: 0;
   }
	40% {
		opacity: 0.4;
   }
	60% {
		opacity: 0.4;
   }
	100% {
		transform: translateY(30px) translateZ(0);
		opacity: 0;
   }
}
@keyframes fadeNumberDown-120 {
	0% {
		transform: translateY(-120px) translateZ(0);
		opacity: 0;
   }
	40% {
		opacity: 0.4;
   }
	60% {
		opacity: 0.4;
   }
	100% {
		transform: translateY(20px) translateZ(0);
		opacity: 0;
   }
}
@keyframes fadeNumberDown-150 {
	0% {
		transform: translateY(-150px) translateZ(0);
		opacity: 0;
   }
	40% {
		opacity: 0.4;
   }
	60% {
		opacity: 0.4;
   }
	100% {
		transform: translateY(10px) translateZ(0);
		opacity: 0;
   }
}
@keyframes fadeNumberDown-160 {
	0% {
		transform: translateY(-160px) translateZ(0);
		opacity: 0;
   }
	40% {
		opacity: 0.4;
   }
	60% {
		opacity: 0.4;
   }
	100% {
		transform: translateY(10px) translateZ(0);
		opacity: 0;
   }
}
  
@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@700&display=swap');
.hero-title {
	max-width: 16em;
	margin: 0;
	font-size: 12vh;
	font-weight: bold;
	line-height: .9;
    color: aliceblue;
	font-family: 'Rowdies', cursive;
}
	
.headingdiv{
	position: absolute;
	vertical-align: middle;
	top: 35%;
	left: 10%;
}
@media only screen and (max-width: 1278px) {
	.headingdiv{
        top:15%;
		left: 10%;
		width:80%;
		font-size: 7vh;
		text-align: center;
	}
	.hero-title{
		font-size: 7vh;
		text-align: center;
	}
	#timer {
		visibility: hidden;
	  }
	  .illustration {
		left:0%;
		top: 35%;
		width: 80%;
		height: 80vh;
	}
  }

.underhero{
	color: aliceblue;
	font-weight: bold;
	font-family: 'Rowdies', cursive;
	padding-left: 1%;
}



/* button */

/* From cssbuttons.io by @Custyyyy */
#bottone15 {
	align-items: center;
	background-color: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: .25rem;
	box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
	box-sizing: border-box;
	color: rgba(0, 0, 0, 0.85);
	cursor: pointer;
	display: inline-flex;
	font-family: 'Rowdies', cursive;
	font-size: 16px;
	font-weight: 600;
	justify-content: center;
	line-height: 1.25;
	min-height: 3rem;
	padding: calc(.875rem - 1px) calc(1.5rem - 1px);
	text-decoration: none;
	transition: all 250ms;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	vertical-align: baseline;
	width: auto;
	margin-top: 5%;
	margin-left: 1%;
   }
   
   #bottone5:hover,
   #bottone5:focus {
	border-color: rgba(0, 0, 0, 0.15);
	box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
	color: rgba(0, 0, 0, 0.65);
   }
   
   #bottone5:hover {
	transform: translateY(-1px);
   }
   
   #bottone5:active {
	background-color: #F0F0F1;
	border-color: rgba(0, 0, 0, 0.15);
	box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
	color: rgba(0, 0, 0, 0.65);
	transform: translateY(0);
   }

   /* countdown timer */

  
  #timer {
	font-family: 'Rowdies', cursive;
	font-size: 20px;
	color: #999;
	letter-spacing: -1px;
	padding-top: 10%;
  }
  #timer span {
	font-size: 60px;
	color: rgb(255, 255, 255);
	margin: 0 3px 0 15px;
  }
  #timer span:first-child {
	margin-left: 0;
  }
	
  .timertext{
	  color: aliceblue;
  }