
.background {
	background-image: linear-gradient(#000203 0%, #00345e 85%, #004d89 100%);
	width:100%;
	height: 100vh;
}
.illustration {
	display: block;
	position: relative;
	width: auto;
	height: 100%;
	margin: 0 auto;
	top: 20%;
	
}
.hover {
	width: 100%;
	height: 100%;
	animation: hover 5s ease-in-out infinite;
	animation-fill-mode: forwards;
}
.number-one {
	transform: translateY(-10px) translateZ(0);
	opacity: 0;
	animation: fadeNumberDown-10 3592ms ease-in-out infinite;
	animation-fill-mode: forwards;
}
.number-two {
	transform: translateY(-20px) translateZ(0);
	opacity: 0;
	animation: fadeNumberDown-20 2640ms ease-in-out infinite;
	animation-delay: 2318ms;
	animation-fill-mode: forwards;
}
.number-three {
	transform: translateY(-30px) translateZ(0);
	opacity: 0;
	animation: fadeNumberDown-30 5691ms ease-in-out infinite;
	animation-delay: 4777ms;
	animation-fill-mode: forwards;
}
.number-four {
	transform: translateY(-50px) translateZ(0);
	opacity: 0;
	animation: fadeNumberDown-50 2084ms ease-in-out infinite;
	animation-delay: 384ms;
	animation-fill-mode: forwards;
}
.number-five {
	transform: translateY(-60px) translateZ(0);
	opacity: 0;
	animation: fadeNumberDown-60 5564ms ease-in-out infinite;
	animation-delay: 5128ms;
	animation-fill-mode: forwards;
}
.number-six {
	transform: translateY(-70px) translateZ(0);
	opacity: 0;
	animation: fadeNumberDown-70 4882ms ease-in-out infinite;
	animation-delay: 3494ms;
	animation-fill-mode: forwards;
}
.number-seven {
	transform: translateY(-80px) translateZ(0);
	opacity: 0;
	animation: fadeNumberDown-80 2352ms ease-in-out infinite;
	animation-delay: 3921ms;
	animation-fill-mode: forwards;
}
.number-eight {
	transform: translateY(-90px) translateZ(0);
	opacity: 0;
	animation: fadeNumberDown-90 3214ms ease-in-out infinite;
	animation-delay: 3746ms;
	animation-fill-mode: forwards;
}
.number-nine {
	transform: translateY(-100px) translateZ(0);
	opacity: 0;
	animation: fadeNumberDown-100 4487ms ease-in-out infinite;
	animation-delay: 5863ms;
	animation-fill-mode: forwards;
}
.number-ten {
	transform: translateY(-110px) translateZ(0);
	opacity: 0;
	animation: fadeNumberDown-110 5295ms ease-in-out infinite;
	animation-delay: 4836ms;
	animation-fill-mode: forwards;
}
.number-eleven {
	transform: translateY(-120px) translateZ(0);
	opacity: 0;
	animation: fadeNumberDown-120 5958ms ease-in-out infinite;
	animation-delay: 5273ms;
	animation-fill-mode: forwards;
}
.number-twelve {
	transform: translateY(-150px) translateZ(0);
	opacity: 0;
	animation: fadeNumberDown-150 4172ms ease-in-out infinite;
	animation-delay: 1459ms;
	animation-fill-mode: forwards;
}
.number-thirteen {
	transform: translateY(-160px) translateZ(0);
	opacity: 0;
	animation: fadeNumberDown-160 2293ms ease-in-out infinite;
	animation-delay: 2320ms;
	animation-fill-mode: forwards;
}
@keyframes hover {
	0% {
		transform: translateY(0);
   }
	25% {
		transform: translateY(-3px);
   }
	75% {
		transform: translateY(3px);
   }
	100% {
		transform: translateY(0);
   }
}
@keyframes fadeNumberDown-10 {
	0% {
		transform: translateY(-10px) translateZ(0);
		opacity: 0;
   }
	40% {
		opacity: 0.4;
   }
	60% {
		opacity: 0.4;
   }
	100% {
		transform: translateY(140px) translateZ(0);
		opacity: 0;
   }
}
@keyframes fadeNumberDown-20 {
	0% {
		transform: translateY(-20px) translateZ(0);
		opacity: 0;
   }
	40% {
		opacity: 0.4;
   }
	60% {
		opacity: 0.4;
   }
	100% {
		transform: translateY(140px) translateZ(0);
		opacity: 0;
   }
}
@keyframes fadeNumberDown-30 {
	0% {
		transform: translateY(-30px) translateZ(0);
		opacity: 0;
   }
	40% {
		opacity: 0.4;
   }
	60% {
		opacity: 0.4;
   }
	100% {
		transform: translateY(130px) translateZ(0);
		opacity: 0;
   }
}
@keyframes fadeNumberDown-50 {
	0% {
		transform: translateY(-50px) translateZ(0);
		opacity: 0;
   }
	40% {
		opacity: 0.4;
   }
	60% {
		opacity: 0.4;
   }
	100% {
		transform: translateY(110px) translateZ(0);
		opacity: 0;
   }
}
@keyframes fadeNumberDown-60 {
	0% {
		transform: translateY(-60px) translateZ(0);
		opacity: 0;
   }
	40% {
		opacity: 0.4;
   }
	60% {
		opacity: 0.4;
   }
	100% {
		transform: translateY(90px) translateZ(0);
		opacity: 0;
   }
}
@keyframes fadeNumberDown-70 {
	0% {
		transform: translateY(-70px) translateZ(0);
		opacity: 0;
   }
	40% {
		opacity: 0.4;
   }
	60% {
		opacity: 0.4;
   }
	100% {
		transform: translateY(80px) translateZ(0);
		opacity: 0;
   }
}
@keyframes fadeNumberDown-80 {
	0% {
		transform: translateY(-80px) translateZ(0);
		opacity: 0;
   }
	40% {
		opacity: 0.4;
   }
	60% {
		opacity: 0.4;
   }
	100% {
		transform: translateY(80px) translateZ(0);
		opacity: 0;
   }
}
@keyframes fadeNumberDown-90 {
	0% {
		transform: translateY(-90px) translateZ(0);
		opacity: 0;
   }
	40% {
		opacity: 0.4;
   }
	60% {
		opacity: 0.4;
   }
	100% {
		transform: translateY(60px) translateZ(0);
		opacity: 0;
   }
}
@keyframes fadeNumberDown-100 {
	0% {
		transform: translateY(-100px) translateZ(0);
		opacity: 0;
   }
	40% {
		opacity: 0.4;
   }
	60% {
		opacity: 0.4;
   }
	100% {
		transform: translateY(60px) translateZ(0);
		opacity: 0;
   }
}
@keyframes fadeNumberDown-110 {
	0% {
		transform: translateY(-110px) translateZ(0);
		opacity: 0;
   }
	40% {
		opacity: 0.4;
   }
	60% {
		opacity: 0.4;
   }
	100% {
		transform: translateY(30px) translateZ(0);
		opacity: 0;
   }
}
@keyframes fadeNumberDown-120 {
	0% {
		transform: translateY(-120px) translateZ(0);
		opacity: 0;
   }
	40% {
		opacity: 0.4;
   }
	60% {
		opacity: 0.4;
   }
	100% {
		transform: translateY(20px) translateZ(0);
		opacity: 0;
   }
}
@keyframes fadeNumberDown-150 {
	0% {
		transform: translateY(-150px) translateZ(0);
		opacity: 0;
   }
	40% {
		opacity: 0.4;
   }
	60% {
		opacity: 0.4;
   }
	100% {
		transform: translateY(10px) translateZ(0);
		opacity: 0;
   }
}
@keyframes fadeNumberDown-160 {
	0% {
		transform: translateY(-160px) translateZ(0);
		opacity: 0;
   }
	40% {
		opacity: 0.4;
   }
	60% {
		opacity: 0.4;
   }
	100% {
		transform: translateY(10px) translateZ(0);
		opacity: 0;
   }
}
  

