.bg-style{
    background-color: black;
    color: white;
}
.size-rob{
    font-size: 2.5rem;
    font-weight: 600;
}
.size-foot-txt{
    font-size: 2.5rem;
    font-weight: 500; 
}
.con-info{
    font-size: 1.5rem;
    font-weight: 100; 
}
.con-site{
    font-size: 1.2rem;
    font-weight: 100; 
    
}
a{
    text-decoration: none;
    color: white;
}
.add-field{
    font-size: 1.4rem;
    font-weight: 100; 
      
}
.add{
    font-size: 1.4rem;
    font-weight: 100;
}